      <!-- navigation bar: site logo, search, login -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SNU_ARTS</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

            <!--categories-->
            <ul class="nav navbar-nav navbar-centered">

              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Categories <b class="caret"></b></a>
                <ul class="dropdown-menu">

                  <li><a href="#">UI/UX</a></li>
                  <li><a href="#">가구 디자인인</a></li>
                  <li><a href="#">건축</a></li>
                  <li><a href="#">그래픽 디자인</a></li>
                  <li><a href="#">모션 그래픽</a></li>
                  <li><a href="#">산업 디자인</a></li>
                  <li><a href="#">공예</a></li>
                  <li><a href="#">사진</a></li>
                  <li><a href="#">일러스트레이션</a></li>
                  <li><a href="#">패션</a></li>
                  <li><a href="#">동양화</a></li>
                  <li><a href="#">서양화</a></li>
                  <li><a href="#">만화</a></li>

                  <li class="divider"></li>

                  <li class="dropdown-submenu">
                    <a href="#">Majors</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">동양화</a></li>
                      <li><a href="#">서양화</a></li>
                      <li><a href="#">조소</a></li>
                      <li><a href="#">디자인</a></li>
                      <li><a href="#">공예</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

<!--
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">#Popular <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">#self_portrait</a></li>
                  <li><a href="#">#gray</a></li>
                  <li><a href="#">#clay_animation</a></li>
                  <li><a href="#">#ghibli</a></li>
                  <li><a href="#">#watercolor</a></li>
                  <li><a href="#">#for_sale</a></li>
                </ul>
              </li>       
-->
            </ul>

           
            <!--sign in-->
            <ul id="signInDropdown" class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-default navbar-btn dropdown-toggle">Sign in <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                    <form class="navbar-form form" role="form">
                      <div class="form-group">
                        <input id="emailInput" placeholder="email address" class="form-control" type="email">
                      </div>
                      <div class="form-group">
                        <input id="passwordInput" placeholder="password" class="form-control" type="password">
                      </div>
                      <div class="form-group">
                      <!-- <button type="submit" class="btn btn-primary form-control">Sign In</button> -->
                      <a href="main_afterlogin.html" class="btn btn-info" role="button">Sign In</a>

                      </div>
                      <div class="form-group">  
                        <span class="pull-right"><a href="#">Join us!</a></span>
                      </div>
                    </form>
                  </li>
                </ul>
              </li>
            </ul>

            <!--search-->
            <form class="navbar-form navbar-right" role="search">
              <div class="input-group add-on">
                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form>

          </div><!--/.navbar-collapse -->
        </div>
      </nav>