.artist-container{
  background-color:#eee;
  height : auto !important;
  padding:25px;
  border-radius: 20px;
}
.artist-title{
  font-size: 25px;
}
.artist-domain{
  font-size: 18px;
  color:#777;
}
#artist-donate{
  background-color:greenyellow;
  border-radius: 20px;
  font-size: 18px;
  color:#fff;
  padding : 3px 10px;
  cursor: pointer;
  display:inline-block
}
.artist-textarea{
  font-family: sans-serif;
}

.artist-pic{
  margin-bottom:20px;
}

.art-container{
  height:300px;
}
.artist-btn-container{
  text-align: right;
}
.artist-keyword-container{
  border-top-color: #999;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 10px;
  margin-top: 10px;
  line-height: 1;
}
.artist-desp{
  word-break: keep-all;
}
.artist-keyword{
  display: inline-block;
    margin: 0 4px 8px 0;
    padding: 6px 8px;
    border: 1px solid #555;
    border-radius: 4px;
}